@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  font: 400 14px/1rem 'Open Sans', sans-serif;
  background-color: #f2f6fc;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
}